<main class="page-content-wrapper" role="main">
    <div class="site-content">
        <section class="header">
            <div class="btnico icoback actback">
                <a href="#"></a>
            </div>
            <div class="pagetitle"><%= @marque ? 'DÉTAILS DE ' + @marque.mar_marques_nom_tx : 'NOUVELLE MARQUE' %></div>
        </section>
        <!--
section marquedetail,
ajouter class "creation" pour obtenir le masque de création, aucun contactitem à la création de marque
ajouter class "proprietaire" pour obtenir le masque d'édition -->
        <section class="marquedetail<%= @sectionclassadd %>">
              <%= form_tag(@marque ? '/marques/update.json' : '/marques/create.json', method: @marque ? 'patch' : 'post', multipart: true) do %>
              <%= @marque ? hidden_field_tag('mar_marques_ident_nm', @marque.mar_marques_ident_nm) : '' %>
                <div class="marqueitemfixedholder">
                    <div class="marqueitem">
                        <div class="marquelogo">
                            <a href="<%= @marque ? '/marques/' + @marque.mar_marques_ident_nm.to_s : '' %>"><img src="<%= @marquelogosrc %>"></a>
                        </div>
                        <div class="marqueinfo">
                            <div class="marquenom"><a href="<%= @marque ? '/marques/' + @marque.mar_marques_ident_nm.to_s : '' %>"><%= @marque ? @marque.mar_marques_nom_tx : '' %><sup><%= @marque && @marque.mar_sta_jur_ident_nm ? StatutJuridique.find(@marque.mar_sta_jur_ident_nm).mar_sta_jur_lib_tx : '' %></sup></a></div>
                            <div class="marquestatut <%= @marque && @marque.mar_sta_ident_nm ? @statuts.find(@marque.mar_sta_ident_nm).mar_sta_lib_tx == "non actif" ? '' : @statuts.find(@marque.mar_sta_ident_nm).mar_sta_lib_tx : '' %>"></div>
                        </div>
                        <div class="marqueform">
                          <label class="btnuploadimg" for="image_file">
                            <img id="imgfilepreview" src="<%= @marquelogosrc %>" data-reset="">
                            <div class="uploadimg"><div class="btnico icoimg"></div></div>
                          </label>
                          <%= file_field_tag :image_file %>
                            <%= text_field_tag 'mar_marques_nom_tx', @marque ? @marque.mar_marques_nom_tx : '', disabled: true, placeholder: 'Nom de la marque (obligatoire)' %>
                            <div>
                              <div class="styled-select"><%= select_tag "mar_sta_jur_ident_nm", options_from_collection_for_select(@statutsjuridiques, 'mar_sta_jur_ident_nm', 'mar_sta_jur_lib_tx', (@marque && @marque.mar_sta_jur_ident_nm) ? @marque.mar_sta_jur_ident_nm : nil), prompt: '-- Statut juridique --', disabled: true %></div>
                            </div>
                            <div></div>
                            <div>
                              <div class="styled-select"><%= select_tag "mar_sta_ident_nm", options_from_collection_for_select(@statuts, 'mar_sta_ident_nm', 'mar_sta_lib_tx', (@marque && @marque.mar_sta_ident_nm) ? @marque.mar_sta_ident_nm : nil), prompt: '-- Etat --', disabled: true %></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="marquedatas">
                    <div class="accordeon open">
                        <div>Informations marque</div>
                        <div>
                            <div class="flex-grid">
                                <div class="col100"><span class="form-section">Type marque</span></div>
                                <div class="col50 mob-col100">
                                    <div class="profilinfo preico icoetiquette">
                                      <div class="styled-select"><%= select_tag "mar_typ_ident_nm", options_from_collection_for_select(@types, 'mar_typ_ident_nm', 'mar_typ_lib_tx', (@marque && @marque.mar_typ_ident_nm) ? @marque.mar_typ_ident_nm : nil), prompt: '-- Type --', disabled: true %></div>
                                    </div>
                                </div>
                                <div class="col50 mob-col100">
                                    <div class="profilinfo preico icochimie">
                                      <div class="styled-select"><%= select_tag "mar_sec_ident_nm", options_from_collection_for_select(@secteurs, 'mar_sec_ident_nm', 'mar_sec_lib_tx', (@marque && @marque.mar_sec_ident_nm) ? @marque.mar_sec_ident_nm : nil), prompt: '-- Secteur --', disabled: true %></div>
                                    </div>
                                </div>
                                <div class="col50 mob-col100">
                                    <div class="profilinfo preico icoccard">
                                        <%= text_field_tag 'mar_marques_ca_tx', @marque ? @marque.mar_marques_ca_tx : nil, placeholder: 'Chiffre d’affaire' %>
                                    </div>
                                </div>
                                <div class="col50 mob-col100">
                                    <div class="profilinfo preico icogroupe">
                                        <%= text_field_tag 'mar_marques_nb_salaries_nm', @marque ? @marque.mar_marques_nb_salaries_nm : nil, placeholder: 'Nombre de salariés' %>
                                    </div>
                                </div>
                                <div class="col100"><span class="form-section">Adresse du siège</span></div>
                                <div class="col100">
                                    <%= text_field_tag 'mar_marques_adresse1_tx', @marque ? @marque.mar_marques_adresse1_tx : nil, placeholder: 'Adresse' %>
                                </div>
                                <div class="col100">
                                    <%= text_field_tag 'mar_marques_adresse2_tx', @marque ? @marque.mar_marques_adresse2_tx : nil, placeholder: 'Complément d\'adresse' %>
                                </div>
                                <div class="col25 mob-col100">
                                    <%= text_field_tag 'mar_marques_cp_tx', @marque ? @marque.mar_marques_cp_tx : nil, placeholder: 'Code postal' %>
                                </div>
                                <div class="col25 mob-col100">
                                    <%= text_field_tag 'mar_marques_ville_tx', @marque ? @marque.mar_marques_ville_tx : nil, placeholder: 'Ville' %>
                                </div>Code postal
                                <div class="col25 mob-col100">
                                  <div class="styled-select"><%= select_tag "mar_pays_ident_nm", options_from_collection_for_select(@pays, 'mar_pays_ident_nm', 'mar_pays_lib_tx', (@marque && @marque.mar_pays_ident_nm) ? @marque.mar_pays_ident_nm : nil), prompt: '-- Pays --', disabled: true %></div>
                                </div>
                                <div class="col100"><span class="form-section">Web</span></div>
                                <div class="col100">
                                    <div class="profilinfo preico icoweb">
                                        <%= text_field_tag 'mar_marques_web_tx', @marque ? @marque.mar_marques_web_tx : nil, placeholder: 'Adresse site' %>
                                    </div>
                                </div>
                                <div class="col100">
                                    <div class="profilinfo preico icotwitter">
                                        <%= text_field_tag 'mar_marques_twitter_tx', @marque ? @marque.mar_marques_twitter_tx : nil, placeholder: 'Adresse Twitter' %>
                                    </div>
                                </div>
                                <div class="col100">
                                    <div class="profilinfo preico icofacebook">
                                        <%= text_field_tag 'mar_marques_facebook_tx', @marque ? @marque.mar_marques_facebook_tx : nil, placeholder: 'Adresse Facebook' %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
            <div class="submitmsg"></div>
        </section>
        <section class="marquecontact marquecontactacheteur">
            <div>
                <div class="accordeon">
                    <div>Contacts acheteurs.
                    </div>
                    <div>
                        <!-- début contactitem modele pour ajout -->
                      <div class="contactmodele">
                        <%= form_tag('/contacts/addcontact/', method: 'post', multipart: true) do %>
                          <input type="hidden" name="mar_marques_ident_nm" value="<%= @marque ? @marque.mar_marques_ident_nm : '' %>" data-name="idmarque">
                          <input type="hidden" name="mar_cont_type_tx" value="Acheteur">
                            <div class="sectionflex">
                              <div class="detail">
                                <div class="flex-grid">
                                  <div class="col33 mob-col100">
                                    <div class="styled-select"><%= select_tag "cont_contacts_civilite_tx", options_for_select(["Monsieur","Madame"]), prompt: "-- Civilité --" %></div>
                                  </div>
                                  <div class="col33 mob-col100">
                                    <div class="noico">
                                      <%= text_field_tag 'cont_contacts_nom_tx', '', placeholder: 'Nom' %>
                                    </div>
                                  </div>
                                  <div class="col33 mob-col100">
                                    <div class="noico">
                                      <%= text_field_tag 'cont_contacts_prenom_tx', '', placeholder: 'Prénom' %>
                                    </div>
                                  </div>
                                  <div class="col100">
                                    <div class="preico icoemail">
                                      <%= text_field_tag 'cont_contacts_mail_tx', '', placeholder: 'E-mail' %>
                                    </div>
                                  </div>
                                  <div class="col33 mob-col100">
                                    <div class="preico icoblank">
                                      <%= text_field_tag 'cont_contacts_tel_fixe_tx', '', placeholder: 'Tel fixe' %>
                                    </div>
                                  </div>
                                  <div class="col33 mob-col100">
                                    <div class="preico icotel">
                                      <%= text_field_tag 'cont_contacts_tel_mobile_tx', '', placeholder: 'Tel mobile' %>
                                    </div>
                                  </div>
                                  <div class="col33 mob-col100">
                                    <div class="preico icofax">
                                      <%= text_field_tag 'cont_contacts_fax_tx', '', placeholder: 'Fax' %>
                                    </div>
                                  </div>
                              </div>
                            </div>
                              <div class="tools">
                                  <div class="btnico icoaddbl actaddcontact" title="Ajouter le contact"></div>
                                  <div class="btnico icovalidbl actvalidcontact" title="Valider les modifications"></div>
                                  <div class="btnico icocancelbl actcancelcontact" title="Annuler les modifications"></div>
                                  <div class="btnico icodelbl actdelcontact" title="Supprimer le contact"></div>
                                  <div class="btnico icolinkbl" title="Voir la marque">
                                      <a href="<%= @marque ? '/marques/' + @marque.mar_marques_ident_nm.to_s : '' %>"></a>
                                  </div>
                              </div>
                            </div>
                            <% end %>
                            <div class="submitmsg"></div>
                        </div>
                        <!-- fin contactitem modele pour ajout -->

<!-- Boucle sur les contacts acheteurs -->
<% @contacts_acheteurs.each do |c| %>
                        <!-- début contactitem modele pour ajout -->
                      <div class="contactitem<%= c.cont_contacts_maj_user_tx == session[:user_id].to_s ? ' proprietaire' : ''%>">
                        <%= form_tag('/contacts/update/', method: 'post', multipart: true) do %>
                          <input type="hidden" name="mar_marques_ident_nm" value="<%= @marque ? @marque.mar_marques_ident_nm : '' %>" data-name="idmarque">
                          <input type="hidden" name="cont_contacts_ident_nm" value="<%= c.cont_contacts_ident_nm %>">
                            <div class="sectionflex">
                              <div class="detail">
                                <div class="flex-grid">
                                  <div class="col33 mob-col100">
                                    <div class="styled-select"><%= select_tag "cont_contacts_civilite_tx", options_for_select(["Monsieur","Madame"], c.cont_contacts_civilite_tx), prompt: "-- Civilité --" %></div>
                                  </div>
                                    <div class="col33 mob-col100">
                                      <div class="noico">
                                        <%= text_field_tag 'cont_contacts_nom_tx', c.cont_contacts_nom_tx, placeholder: 'Nom' %>
                                      </div>
                                    </div>
                                    <div class="col33 mob-col100">
                                      <div class="noico">
                                        <%= text_field_tag 'cont_contacts_prenom_tx', c.cont_contacts_prenom_tx, placeholder: 'Prénom' %>
                                      </div>
                                    </div>
                                    <div class="col100">
                                      <div class="preico icoemail">
                                        <%= text_field_tag 'cont_contacts_mail_tx', c.cont_contacts_mail_tx, placeholder: 'E-mail' %>
                                      </div>
                                    </div>
                                    <div class="col33 mob-col100">
                                      <div class="preico icoblank">
                                        <%= text_field_tag 'cont_contacts_tel_fixe_tx', c.cont_contacts_tel_fixe_tx, placeholder: 'Tel fixe' %>
                                      </div>
                                    </div>
                                    <div class="col33 mob-col100">
                                      <div class="preico icotel">
                                        <%= text_field_tag 'cont_contacts_tel_mobile_tx', c.cont_contacts_tel_mobile_tx, placeholder: 'Tel mobile' %>
                                      </div>
                                    </div>
                                    <div class="col33 mob-col100">
                                      <div class="preico icofax">
                                        <%= text_field_tag 'cont_contacts_fax_tx', c.cont_contacts_fax_tx, placeholder: 'Fax' %>
                                      </div>
                                    </div>
                              </div>
                            </div>
                              <div class="tools">
                                  <div class="btnico icoaddbl actaddcontact" title="Ajouter le contact"></div>
                                  <div class="btnico icovalidbl actvalidcontact" title="Valider les modifications"></div>
                                  <div class="btnico icocancelbl actcancelcontact" title="Annuler les modifications"></div>
                                  <div class="btnico icodelbl actdelcontact" title="Supprimer le contact"></div>
                                  <div class="btnico icolinkbl" title="Voir la marque">
                                      <a href="<%= @marque ? '/marques/' + @marque.mar_marques_ident_nm.to_s : '' %>"></a>
                                  </div>
                              </div>
                            </div>
                            <% end %>
                            <div class="submitmsg"></div>
                        </div>
                        <!-- fin contactitem modele pour ajout -->
<% end %>
                    </div>
                </div>
            </div>
        </section>
        <section class="marquecontact marquecontactmarque">
            <div>
                <div class="accordeon">
                    <div>Contacts marque.
                    </div>
                    <div>
                        <!-- début contactitem modele pour ajout -->
                        <div class="contactmodele">
                            <%= form_tag('/contacts/addcontact/', method: 'post', multipart: true) do %>
                            <input type="hidden" name="mar_marques_ident_nm" value="<%= @marque ? @marque.mar_marques_ident_nm : '' %>" data-name="idmarque">
                            <input type="hidden" name="mar_cont_type_tx" value="Marque">
                                <div class="sectionflex">
                                    <div class="detail">
                                        <div class="flex-grid">
                                            <div class="col25 mob-col100">
                                              <div class="styled-select"><%= select_tag "cont_contacts_civilite_tx", options_for_select(["Monsieur","Madame"]), prompt: "-- Civilité --" %></div>
                                            </div>
                                            <div class="col25 mob-col100">
                                                <div class="noico">
                                                    <%= text_field_tag 'cont_contacts_nom_tx', '', placeholder: 'Nom' %>
                                                </div>
                                            </div>
                                            <div class="col25 mob-col100">
                                                <div class="noico">
                                                    <%= text_field_tag 'cont_contacts_prenom_tx', '', placeholder: 'Prénom' %>
                                                </div>
                                            </div>
                                            <div class="col25 mob-col100">
                                            <div class="styled-select"><%= select_tag "cont_contacts_statut_tx", options_for_select(["Sta 1","Sta 1", "Sta 3"]), prompt: "-- Statut --" %></div>
                                            </div>
                                            <div class="col33 mob-col100">
                                                <div class="noico">
                                                    <%= text_field_tag 'cont_contacts_fonction_tx', '', placeholder: 'Fonction' %>
                                                </div>
                                            </div>
                                            <div class="col33 mob-col100">
                                                <div class="noico">
                                                    <%= text_field_tag 'cont_contacts_direction_service_tx', '', placeholder: 'Direction/Service' %>
                                                </div>
                                            </div>
                                            <div class="col33 mob-col100">
                                                <div class="styled-select"><%= select_tag "cont_contacts_pouvoir_tx", options_for_select(["Faible","Moyen", "Important"]), prompt: "-- Son pouvoir de décision --" %></div>
                                            </div>
                                            <div class="col50 mob-col100">
                                                <div class="preico icoemail">
                                                    <%= text_field_tag 'cont_contacts_mail_tx', '', placeholder: 'E-mail' %>
                                                </div>
                                            </div>
                                            <div class="col50 mob-col100">
                                                <div class="preico icolinkedin">
                                                    <%= text_field_tag 'cont_contacts_linkedin_tx', '', placeholder: 'LinkedIn' %>
                                                </div>
                                            </div>
                                            <div class="col33 mob-col100">
                                                <div class="preico icoblank">
                                                    <%= text_field_tag 'cont_contacts_tel_fixe_tx', '', placeholder: 'Tel fixe' %>
                                                </div>
                                            </div>
                                            <div class="col33 mob-col100">
                                                <div class="preico icotel">
                                                    <%= text_field_tag 'cont_contacts_tel_mobile_tx', '', placeholder: 'Tel mobile' %>
                                                </div>
                                            </div>
                                            <div class="col33 mob-col100">
                                                <div class="preico icofax">
                                                    <%= text_field_tag 'cont_contacts_fax_tx', '', placeholder: 'Fax' %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tools">
                                        <div class="btnico icoaddbl actaddcontact" title="Ajouter le contact"></div>
                                        <div class="btnico icovalidbl actvalidcontact" title="Valider les modifications"></div>
                                        <div class="btnico icocancelbl actcancelcontact" title="Annuler les modifications"></div>
                                        <div class="btnico icodelbl actdelcontact" title="Supprimer le contact"></div>
                                        <div class="btnico icolinkbl" title="Voir la marque">
                                            <a href="<%= @marque ? '/marques/' + @marque.mar_marques_ident_nm.to_s : '' %>"></a>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <div class="submitmsg"></div>
                        </div>
                        <!-- fin contactitem modele pour ajout -->
<!-- Boucle sur les contacts marque -->
<% @contacts_marque.each do |c| %>
<!-- début contactitem modele pour ajout -->
              <div class="contactitem<%= c.cont_contacts_maj_user_tx == session[:user_id].to_s ? ' proprietaire' : ''%>">
              <%= form_tag('/contacts/update/', method: 'post', multipart: true) do %>
              <input type="hidden" name="mar_marques_ident_nm" value="<%= @marque ? @marque.mar_marques_ident_nm : '' %>" data-name="idmarque">
              <input type="hidden" name="cont_contacts_ident_nm" value="<%= c.cont_contacts_ident_nm %>">
                  <div class="sectionflex">
                      <div class="detail">
                          <div class="flex-grid">
                              <div class="col25 mob-col100">
                                <div class="styled-select"><%= select_tag "cont_contacts_civilite_tx", options_for_select(["Monsieur","Madame"], c.cont_contacts_civilite_tx), prompt: "-- Civilité --" %></div>
                              </div>
                              <div class="col25 mob-col100">
                                  <div class="noico">
                                      <%= text_field_tag 'cont_contacts_nom_tx', c.cont_contacts_nom_tx, placeholder: 'Nom' %>
                                  </div>
                              </div>
                              <div class="col25 mob-col100">
                                  <div class="noico">
                                      <%= text_field_tag 'cont_contacts_prenom_tx', c.cont_contacts_prenom_tx, placeholder: 'Prénom' %>
                                  </div>
                              </div>
                              <div class="col25 mob-col100">
                              <div class="styled-select"><%= select_tag "cont_contacts_statut_tx", options_for_select(["Sta 1","Sta 1", "Sta 3"], c.cont_contacts_statut_tx), prompt: "-- Statut --" %></div>
                              </div>
                              <div class="col33 mob-col100">
                                  <div class="noico">
                                      <%= text_field_tag 'cont_contacts_fonction_tx', c.cont_contacts_fonction_tx, placeholder: 'Fonction' %>
                                  </div>
                              </div>
                              <div class="col33 mob-col100">
                                  <div class="noico">
                                      <%= text_field_tag 'cont_contacts_direction_service_tx', c.cont_contacts_direction_service_tx, placeholder: 'Direction/Service' %>
                                  </div>
                              </div>
                              <div class="col33 mob-col100">
                                  <div class="styled-select"><%= select_tag "cont_contacts_pouvoir_tx", options_for_select(["Faible","Moyen", "Important"], c.cont_contacts_pouvoir_tx), prompt: "-- Son pouvoir de décision --" %></div>
                              </div>
                              <div class="col50 mob-col100">
                                  <div class="preico icoemail">
                                      <%= text_field_tag 'cont_contacts_mail_tx', c.cont_contacts_mail_tx, placeholder: 'E-mail' %>
                                  </div>
                              </div>
                              <div class="col50 mob-col100">
                                  <div class="preico icolinkedin">
                                      <%= text_field_tag 'cont_contacts_linkedin_tx', c.cont_contacts_linkedin_tx, placeholder: 'LinkedIn' %>
                                  </div>
                              </div>
                              <div class="col33 mob-col100">
                                  <div class="preico icoblank">
                                      <%= text_field_tag 'cont_contacts_tel_fixe_tx', c.cont_contacts_tel_fixe_tx, placeholder: 'Tel fixe' %>
                                  </div>
                              </div>
                              <div class="col33 mob-col100">
                                  <div class="preico icotel">
                                      <%= text_field_tag 'cont_contacts_tel_mobile_tx', c.cont_contacts_tel_mobile_tx, placeholder: 'Tel mobile' %>
                                  </div>
                              </div>
                              <div class="col33 mob-col100">
                                  <div class="preico icofax">
                                      <%= text_field_tag 'cont_contacts_fax_tx', c.cont_contacts_fax_tx, placeholder: 'Fax' %>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="tools">
                          <div class="btnico icoaddbl actaddcontact" title="Ajouter le contact"></div>
                          <div class="btnico icovalidbl actvalidcontact" title="Valider les modifications"></div>
                          <div class="btnico icocancelbl actcancelcontact" title="Annuler les modifications"></div>
                          <div class="btnico icodelbl actdelcontact" title="Supprimer le contact"></div>
                          <div class="btnico icolinkbl" title="Voir la marque">
                              <a href="<%= @marque ? '/marques/' + @marque.mar_marques_ident_nm.to_s : '' %>"></a>
                          </div>
                      </div>
                  </div>
<% end %>
<div class="submitmsg"></div>
</div>
<!-- fin contactitem modele pour ajout -->
<% end %>
                    </div>
                </div>
            </div>
            <div class="submitmsg"></div>
        </section>
        <section class="marquecontact marquecontactallie">
            <div>
                <div class="accordeon">
                    <div>Alliés R9.
                    </div>
                    <div>
                        <% if !@current_contact_est_lie %>
                        <!-- début contactitem modele pour ajout -->
                        <div class="contactmodele">
                              <%= form_tag('/contacts/addcontactallie/', method: 'post', multipart: true) do %>
                              <input type="hidden" name="mar_marques_ident_nm" value="<%= @marque ? @marque.mar_marques_ident_nm : '' %>" data-name="idmarque">
                              <input type="hidden" name="cont_contacts_ident_nm" value="<%= @current_contact.cont_contacts_ident_nm %>">
                                <div class="sectionflex">
                                    <div class="detail">
                                        <div class="flex-grid">
                                            <div class="col100">
                                                <div class="flex-grid nowrap vcenter">
                                                    <div class="colcondensed mob-col100">
                                                        <div class="avatar"><img class="photo" src="<%=asset_path('avatar.jpg')%>"></div>
                                                    </div>
                                                    <div class="colexpanded mob-col100">
                                                        <div class="flex-grid">
                                                            <div class="col100 mob-colcenter">
                                                                <div class="profilprenom"><%= @current_contact.cont_contacts_prenom_tx %></div>
                                                                <div class="profilnom"><%= @current_contact.cont_contacts_nom_tx %></div>
                                                                <div class="profilagence"><%= @current_contact.cont_contacts_societe_tx %></div>
                                                            </div>
                                                            <div class="col100">
                                                                <div class="noico">
                                                                    <%= text_field_tag 'mar_cont_relation_tx', @current_lien_marque ? @current_lien_marque.mar_cont_relation_tx : '', placeholder: 'Ancienneté de la relation commerciale' %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col100 infocontact infoconnaissance">
                                                <div class="flex-grid  vcenter">
                                                    <div class="colcondensed mob-colcenter">
                                                        <div class="projet">Connaissances sectorielles</div>
                                                    </div>
                                                    <div class="colexpanded">
                                                        <%= text_field_tag 'cont_contacts_conn_secteur_tx', @current_contact.cont_contacts_conn_secteur_tx, placeholder: 'Connaissances sectorielles' %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col100 infocontact infocompetence">
                                                <div class="flex-grid  vcenter">
                                                    <div class="colcondensed mob-colcenter">
                                                        <div class="projet">Compétences métier</div>
                                                    </div>
                                                    <div class="colexpanded">
                                                        <%= text_field_tag 'cont_contacts_comp_metiers_tx', @current_contact.cont_contacts_comp_metiers_tx, placeholder: 'Compétences métier' %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col100 infocontact infoprojet">
                                                <div class="flex-grid  vcenter">
                                                    <div class="colcondensed mob-colcenter">
                                                        <div class="projet">Projets réalisés</div>
                                                    </div>
                                                    <div class="colexpanded">
                                                        <div class="flex-grid">
                                                            <div class="col100">
                                                                <div class="noico inline-block">
                                                                    <input type="checkbox" value="1" name="mar_cont_design_bl" id="ch01" <%= @current_lien_marque && @current_lien_marque.mar_cont_design_bl ? ' checked' : '' %>>
                                                                    <input type="hidden">
                                                                    <label for="ch01">Design</label>
                                                                </div>
                                                                <div class="noico inline-block">
                                                                    <input type="checkbox" value="1" name="mar_cont_marketing_bl" id="ch02" <%= @current_lien_marque && @current_lien_marque.mar_cont_marketing_bl ? ' checked' : '' %>>
                                                                    <input type="hidden">
                                                                    <label for="ch02">Marketing</label>
                                                                </div>
                                                                <div class="noico inline-block">
                                                                    <input type="checkbox" value="" name="mar_cont_communication_bl" id="ch03" <%= @current_lien_marque && @current_lien_marque.mar_cont_communication_bl ? ' checked' : '' %>>
                                                                    <input type="hidden">
                                                                    <label for="ch03">Communication</label>
                                                                </div>
                                                                <div class="noico inline-block">
                                                                    <input type="checkbox" value="" name="mar_cont_event_bl" id="ch04" <%= @current_lien_marque && @current_lien_marque.mar_cont_event_bl ? ' checked' : '' %>>
                                                                    <input type="hidden">
                                                                    <label for="ch04">Event/RP</label>
                                                                </div>
                                                                <div class="noico inline-block">
                                                                    <input type="checkbox" value="" name="mar_cont_digital_bl" id="ch05" <%= @current_lien_marque && @current_lien_marque.mar_cont_digital_bl ? ' checked' : '' %>>
                                                                    <input type="hidden">
                                                                    <label for="ch05">Digital</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tools">
                                        <div class="btnico icoaddbl actaddcontact" title="Ajouter le contact"></div>
                                        <div class="btnico icovalidbl actvalidcontact" title="Valider les modifications"></div>
                                        <div class="btnico icocancelbl actcancelcontact" title="Annuler les modifications"></div>
                                        <div class="btnico icodelbl actdelcontact" title="Supprimer le contact"></div>
                                        <div class="btnico icolinkbl" title="Voir le profil">
                                            <a href="<%= '/contacts/edit/' + @current_contact.cont_contacts_ident_nm.to_s %>"></a>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <div class="submitmsg"></div>
                        </div>
                        <!-- fin contactitem modele pour ajout -->
                        <% end %>
<!-- Boucle sur les contacts allies -->
<% @contacts_allies.each do |c| %>
                        <!-- début contactitem proprietaire -->
                        <div class="contactitem <%= c["cont_contacts_ident_nm"] == @current_contact.cont_contacts_ident_nm ? 'proprietaire' : '' %>">
                            <!-- <form action="#"> -->
                              <%= form_tag('/contacts/updateallie/', method: 'post', multipart: true) do %>
                            <input type="hidden" name="mar_marques_ident_nm" value="<%= c["mar_marques_ident_nm"] %>" data-name="idmarque">
                            <input type="hidden" name="cont_contacts_ident_nm" value="<%= c["cont_contacts_ident_nm"] %>">
                                <div class="sectionflex">
                                    <div class="detail">
                                        <div class="flex-grid">
                                            <div class="col100">
                                                <div class="flex-grid nowrap vcenter">
                                                    <div class="colcondensed mob-col100">
                                                        <div class="avatar"><img class="photo" src="<%= c["cont_contacts_photo_tx"] %>"></div>
                                                    </div>
                                                    <div class="colexpanded mob-col100">
                                                        <div class="flex-grid">
                                                            <div class="col100 mob-colcenter">
                                                                <div class="profilprenom"><%= c["cont_contacts_prenom_tx"] %></div>
                                                                <div class="profilnom"><%= c["cont_contacts_nom_tx"] %></div>
                                                                <div class="profilagence"><%= c["cont_contacts_societe_tx"] %></div>
                                                            </div>
                                                            <div class="col100">
                                                                <div class="noico">
                                                                    <%= text_field_tag 'mar_cont_relation_tx', c["mar_cont_relation_tx"], placeholder: 'Ancienneté de la relation commerciale' %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col100 infocontact infoconnaissance">
                                                <div class="flex-grid  vcenter">
                                                    <div class="colcondensed mob-colcenter">
                                                        <div class="projet">Connaissances sectorielle</div>
                                                    </div>
                                                    <div class="colexpanded">
                                                        <%= text_field_tag 'cont_contacts_conn_secteur_tx', c["cont_contacts_conn_secteur_tx"], placeholder: 'Exemple : Energie, IT' %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col100 infocontact infocompetence">
                                                <div class="flex-grid  vcenter">
                                                    <div class="colcondensed mob-colcenter">
                                                        <div class="projet">Compétences métier</div>
                                                    </div>
                                                    <div class="colexpanded">
                                                        <%= text_field_tag 'cont_contacts_comp_metiers_tx', c["cont_contacts_comp_metiers_tx"], placeholder: 'Exemple : Communication interne, communication RH' %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col100 infocontact infoprojet">
                                                <div class="flex-grid  vcenter">
                                                    <div class="colcondensed mob-colcenter">
                                                        <div class="projet">Projets réalisés</div>
                                                    </div>
                                                    <div class="colexpanded">
                                                        <div class="flex-grid">
                                                            <div class="col100">
                                                              <div class="noico inline-block">
                                                                  <input type="checkbox" value="1" name="mar_cont_design_bl" id="ch01" <%= c["mar_cont_design_bl"] ? ' checked' : '' %>>
                                                                  <input type="hidden">
                                                                  <label for="ch01">Design</label>
                                                              </div>
                                                              <div class="noico inline-block">
                                                                  <input type="checkbox" value="1" name="mar_cont_marketing_bl" id="ch02" <%= c["mar_cont_marketing_bl"] ? ' checked' : '' %>>
                                                                  <input type="hidden">
                                                                  <label for="ch02">Marketing</label>
                                                              </div>
                                                              <div class="noico inline-block">
                                                                  <input type="checkbox" value="1" name="mar_cont_communication_bl" id="ch03" <%= c["mar_cont_communication_bl"] ? ' checked' : '' %>>
                                                                  <input type="hidden">
                                                                  <label for="ch03">Communication</label>
                                                              </div>
                                                              <div class="noico inline-block">
                                                                  <input type="checkbox" value="1" name="mar_cont_event_bl" id="ch04" <%= c["mar_cont_event_bl"] ? ' checked' : '' %>>
                                                                  <input type="hidden">
                                                                  <label for="ch04">Event/RP</label>
                                                              </div>
                                                              <div class="noico inline-block">
                                                                  <input type="checkbox" value="1" name="mar_cont_digital_bl" id="ch05" <%= c["mar_cont_digital_bl"] ? ' checked' : '' %>>
                                                                  <input type="hidden">
                                                                  <label for="ch05">Digital</label>
                                                              </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tools">
                                        <div class="btnico icoaddbl actaddcontact" title="Ajouter le contact"></div>
                                        <div class="btnico icovalidbl actvalidcontact" title="Valider les modifications"></div>
                                        <div class="btnico icocancelbl actcancelcontact" title="Annuler les modifications"></div>
                                        <div class="btnico icodelbl actdelcontact" title="Supprimer le contact"></div>
                                        <div class="btnico icolinkbl" title="Voir le profil">
                                            <a href="/contacts/edit/<%= c["cont_contacts_ident_nm"] %>"></a>
                                        </div>
                                    </div>
                                </div>
                            <!-- </form> -->
                            <% end %>
                            <div class="submitmsg"></div>
                        </div>
                        <!-- fin contactitem proprietaire -->
<% end %>
                    </div>
                </div>
            </div>
            <div class="submitmsg"></div>
        </section>
    </div>
</main>
