<main class="page-content-wrapper" role="main">
  <div class="site-content">
    <section class="header">
      <div class="btnico icoback actback">
          <a href="#"></a>
      </div>
      <div class="pagetitle"><span class="grey"><%= @marques.size + @contacts.size %></span> résultat(s) pour votre <br class="mob-nobr">recherche.</div>
    </section>
<% if @marques.size + @contacts.size == 0 %>
  <section class="subheader">
      <div>
          <form action="/marques/addcontact/" method="post">
              <div class="flex-grid hcenter vcenter ccenter spadding">
                  <div class="col100">
                      <p class="ta-center">Votre recherche n'a donné aucun résultat. Vous pouvez soit effectuer une autre recherche, soit</p>
                  </div>
                  <div class="mob-col100">
                      <div class="btninnerico rouge ajouter actCreateMarque" title="Ajouter une marque">Ajouter une marque</div>
                  </div>
                  <div class="mob-col100">ou</div>
                  <div class="mob-col100">
                      <div class="styled-select nomargin" style="margin-top:9px"><select name="mar_marques_ident_nm" class="actMarque">
                        <option value="">Pour ajouter un contact sélectionnez une marque</option>
                        <% @toutes_les_marques.each do |m| %>
                          <option value="<%= m.mar_marques_ident_nm %>"><%= m.mar_marques_nom_tx %></option>
                        <% end %>
                      </select></div>
                  </div>
                  <div class="mob-col100">
                      <div class="btninnerico blanc ajouter actCreateContact" title="Ajouter un contact">Ajouter un contact</div>
                  </div>
              </div>
          </form>
      </div>
  </section>

<% end %>
<!-- Resultats de marque -->
<div class="accordeon open">
    <div><span class="grey"><%= @marques.size %></span> Résultat(s) de marques</div>
    <div>
        <section class="marquelist">
          <% @marques.each do |marque| %>
            <div class="marqueitem">
                <div class="marquelogo">
                  <a href="/marques/mask/<%= marque.mar_marques_ident_nm %>"><img src="<%= asset_path('logomarque.png') %>"></a>
                </div>
                <div class="marqueinfo">
                    <div class="marquenom"><a href="/marques/mask/<%= marque.mar_marques_ident_nm %>"><%= marque.mar_marques_nom_tx %><sup><%= marque.mar_sta_jur_ident_nm ? StatutJuridique.find(marque.mar_sta_jur_ident_nm).mar_sta_jur_lib_tx : '' %></sup></a></div>
                    <div class="marquestatut <%= marque.mar_sta_ident_nm ? @statuts.find(marque.mar_sta_ident_nm).mar_sta_lib_tx == "non actif" ? '' : @statuts.find(marque.mar_sta_ident_nm).mar_sta_lib_tx : '' %>"></div>
                    <!-- <div class="marquestatut inbizz"></div> -->
                </div>
                <div class="marqueform">
                    <label class="btnuploadimg" for="imgfilefield">
                    <img id="imgfilepreview" src="" >
                    <div class="uploadimg"><div class="btnico icoimg"></div></div>
                </label>
                    <input type="file" id="imgfilefield">
                    <input type="text" value="" name="" placeholder="Nom de la marque (obligatoire)" disabled>
                    <div>
                        <div class="styled-select"><select name="" disabled>
            <option value="">Statut juridique</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
                    </select></div>
                    </div>
                    <div></div>
                    <div>
                    <div class="styled-select"><%= select_tag "mar_sta_ident_nm", options_from_collection_for_select(@statuts, 'mar_sta_ident_nm', 'mar_sta_lib_tx', (@marque && @marque.mar_sta_ident_nm) ? @marque.mar_sta_ident_nm : nil), prompt: '-- Etat --', disabled: true %></div>
                    </div>
                </div>
            </div>
            <% end %>
        </section>
    </div>
</div>
<!-- Resultats de marque -->

<!-- Resultats de contacts -->
<div class="accordeon">
    <div><span class="grey"><%= @contacts.size %></span> Résultat(s) de contacts</div>
    <div>
        <section class="marquecontact">
          <% @contacts.each do |c| %>
          <% if c["mar_cont_type_tx"] == 'Acheteur' %>
            <div class="contactitem proprietaire resultlist">
                <form action="#">
                    <input type="hidden" value="" data-name="idmarque">
                    <div class="sectionflex">
                        <div class="detail">

                            <div class="flex-grid">
                                <div class="col33 mob-col100">
            <div class="styled-select"><%= select_tag "cont_contacts_civilite_tx", options_for_select(["Monsieur","Madame"], c["cont_contacts_civilite_tx"]), prompt: "-- Civilité --" %></div>
                                </div>
                                <div class="col33 mob-col100">
                                    <div class="noico">
                                        <!-- <input type="text" value="Lorem ipsum dolor sit amet" data-name="nom" placeholder="Nom"> -->
                                        <%= text_field_tag 'cont_contacts_nom_tx', c["cont_contacts_nom_tx"], placeholder: 'Nom' %>
                                    </div>
                                </div>
                                <div class="col33 mob-col100">
                                    <div class="noico">
                                        <%= text_field_tag 'cont_contacts_prenom_tx', c["cont_contacts_prenom_tx"], placeholder: 'Prénom' %>
                                    </div>
                                </div>
                                <div class="col100">
                                    <div class="preico icoemail">
                                        <%= text_field_tag 'cont_contacts_mail_tx', c["cont_contacts_mail_tx"], placeholder: 'E-mail' %>
                                    </div>
                                </div>
                                <div class="col33 mob-col100">
                                    <div class="preico icoblank">
                                        <%= text_field_tag 'cont_contacts_tel_fixe_tx', c["cont_contacts_tel_fixe_tx"], placeholder: 'Tel fixe' %>
                                    </div>
                                </div>
                                <div class="col33 mob-col100">
                                    <div class="preico icotel">
                                        <%= text_field_tag 'cont_contacts_tel_mobile_tx', c["cont_contacts_tel_mobile_tx"], placeholder: 'Tel mobile' %>
                                    </div>
                                </div>
                                <div class="col33 mob-col100">
                                    <div class="preico icofax">
                                        <%= text_field_tag 'cont_contacts_fax_tx', c["cont_contacts_fax_tx"], placeholder: 'Fax' %>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tools">
                            <div class="btnico icoaddbl actaddcontact" title="Ajouter le contact"></div>
                            <div class="btnico icovalidbl actvalidcontact" title="Valider les modifications"></div>
                            <div class="btnico icocancelbl actcancelcontact" title="Annuler les modifications"></div>
                            <div class="btnico icodelbl actdelcontact" title="Supprimer le contact"></div>
                            <div class="btnico icolinkbl" title="Voir le contact">
                                <a href="/marques/mask/"<%= c["mar_marques_ident_nm"] %>></a>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="submitmsg"></div>
            </div>
            <% end %>
            <% if c["mar_cont_type_tx"] == 'Marque' %>
            <div class="contactitem resultlist">
                <form action="#">
                    <input type="hidden" value="" data-name="idmarque">
                    <div class="sectionflex">
                        <div class="detail">

                            <div class="flex-grid">
                                <div class="col25 mob-col100">
                                  <div class="styled-select"><%= select_tag "cont_contacts_civilite_tx", options_for_select(["Monsieur","Madame"], c["cont_contacts_civilite_tx"]), prompt: "-- Civilité --" %></div>
                                </div>
                                <div class="col25 mob-col100">
                                    <div class="noico">
                                        <%= text_field_tag 'cont_contacts_nom_tx', c["cont_contacts_nom_tx"], placeholder: 'Nom' %>
                                    </div>
                                </div>
                                <div class="col25 mob-col100">
                                    <div class="noico">
                                        <%= text_field_tag 'cont_contacts_prenom_tx', c["cont_contacts_prenom_tx"], placeholder: 'Prénom' %>
                                    </div>
                                </div>
                                <div class="col25 mob-col100">
                                  <div class="styled-select"><%= select_tag "cont_contacts_statut_tx", options_for_select(["Sta 1","Sta 1", "Sta 3"], c["cont_contacts_statut_tx"]), prompt: "-- Statut --" %></div>
                                </div>
                                <div class="col33 mob-col100">
                                    <div class="noico">
                                        <%= text_field_tag 'cont_contacts_fonction_tx', c["cont_contacts_fonction_tx"], placeholder: 'Fonction' %>
                                    </div>
                                </div>
                                <div class="col33 mob-col100">
                                    <div class="noico">
                                        <%= text_field_tag 'cont_contacts_direction_service_tx', c["cont_contacts_direction_service_tx"], placeholder: 'Direction/Service' %>
                                    </div>
                                </div>
                                <div class="col33 mob-col100">
                                  <div class="styled-select"><%= select_tag "cont_contacts_pouvoir_tx", options_for_select(["Faible","Moyen", "Important"], c["cont_contacts_pouvoir_tx"]), prompt: "-- Son pouvoir de décision --" %></div>
                                </div>
                                <div class="col50 mob-col100">
                                    <div class="preico icoemail">
                                        <%= text_field_tag 'cont_contacts_mail_tx', c["cont_contacts_mail_tx"], placeholder: 'E-mail' %>
                                    </div>
                                </div>
                                <div class="col50 mob-col100">
                                    <div class="preico icolinkedin">
                                        <%= text_field_tag 'cont_contacts_linkedin_tx', c["cont_contacts_linkedin_tx"], placeholder: 'LinkedIn' %>
                                    </div>
                                </div>
                                <div class="col33 mob-col100">
                                    <div class="preico icoblank">
                                        <%= text_field_tag 'cont_contacts_tel_fixe_tx', c["cont_contacts_tel_fixe_tx"], placeholder: 'Tel fixe' %>
                                    </div>
                                </div>
                                <div class="col33 mob-col100">
                                    <div class="preico icotel">
                                        <%= text_field_tag 'cont_contacts_tel_mobile_tx', c["cont_contacts_tel_mobile_tx"], placeholder: 'Tel mobile' %>
                                    </div>
                                </div>
                                <div class="col33 mob-col100">
                                    <div class="preico icofax">
                                        <%= text_field_tag 'cont_contacts_fax_tx', c["cont_contacts_fax_tx"], placeholder: 'Fax' %>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tools">
                            <div class="btnico icoaddbl actaddcontact" title="Ajouter le contact"></div>
                            <div class="btnico icovalidbl actvalidcontact" title="Valider les modifications"></div>
                            <div class="btnico icocancelbl actcancelcontact" title="Annuler les modifications"></div>
                            <div class="btnico icodelbl actdelcontact" title="Supprimer le contact"></div>
                            <div class="btnico icolinkbl" title="Voir le contact">
                                <a href="/marques/mask/"<%= c["mar_marques_ident_nm"] %>></a>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="submitmsg"></div>
            </div>
            <% end %>
            <% if c["mar_cont_type_tx"] == 'Allié' %>
            <div class="contactitem resultlist">
                <form action="#">
                    <input type="hidden" value="" data-name="idmarque">
                    <div class="sectionflex">
                        <div class="detail">
                            <div class="flex-grid">
                                <div class="col100">
                                    <div class="flex-grid nowrap vcenter">
                                        <div class="colcondensed mob-col100">
                                            <div class="avatar"><img class="photo" src="asset_path('avatar.jpg')"></div>
                                        </div>
                                        <div class="colexpanded mob-col100">
                                            <div class="flex-grid">
                                                <div class="col100 mob-colcenter">
                                                    <div class="profilprenom"><%= c["cont_contacts_prenom_tx"] %></div>
                                                    <div class="profilnom"><%= c["cont_contacts_nom_tx"] %></div>
                                                    <div class="profilagence"><%= c["cont_contacts_societe_tx"] %></div>
                                                </div>
                                                <div class="col100">
                                                    <div class="noico">
                                                        <input type="text" value="<%= c["cont_contacts_societe_tx"] %>" name="nom" placeholder="Ancienneté de la relation commerciale">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col100 infocontact infoconnaissance">
                                    <div class="flex-grid  vcenter">
                                        <div class="colcondensed mob-colcenter">
                                            <div class="projet">Connaissances sectorielle</div>
                                        </div>
                                        <div class="colexpanded">
                                            <!-- <input type="text" name="connaissance-sectioriel" value="Energie, IT" data-reset="Energie, IT"> -->
                                            <%= text_field_tag 'cont_contacts_conn_secteur_tx',c["cont_contacts_conn_secteur_tx"], placeholder: 'Exemple : Energie, IT' %>
                                        </div>
                                    </div>
                                </div>
                                <div class="col100 infocontact infocompetence">
                                    <div class="flex-grid  vcenter">
                                        <div class="colcondensed mob-colcenter">
                                            <div class="projet">Compétences métier</div>
                                        </div>
                                        <div class="colexpanded">
                                            <!-- <input type="text" name="competances-metier" value="Communication interne, communication RH" data-reset="Communication interne, communication RH"> -->
                                            <%= text_field_tag 'cont_contacts_comp_metiers_tx', c["cont_contacts_comp_metiers_tx"], placeholder: 'Exemple : Communication interne, communication RH' %>
                                        </div>
                                    </div>
                                </div>
                                <div class="col100 infocontact infoprojet">
                                    <div class="flex-grid  vcenter">
                                        <div class="colcondensed mob-colcenter">
                                            <div class="projet">Projet réalisé</div>
                                        </div>
                                        <div class="colexpanded">
                                            <div class="flex-grid">
                                                <div class="col100">
                                                    <div class="noico inline-block">
                                                        <input type="checkbox" value="1" name="mar_cont_design_bl" id="ch01" <%= c["mar_cont_design_bl"] ? ' checked' : '' %>>
                                                        <label for="ch11">Design</label>
                                                    </div>
                                                    <div class="noico inline-block">
                                                        <input type="checkbox" value="1" name="mar_cont_marketing_bl" id="ch02" <%= c["mar_cont_marketing_bl"] ? ' checked' : '' %>>
                                                        <label for="ch12">Marketing</label>
                                                    </div>
                                                    <div class="noico inline-block">
                                                        <input type="checkbox" value="" name="mar_cont_communication_bl" id="ch03" <%= c["mar_cont_communication_bl"] ? ' checked' : '' %>>
                                                        <label for="ch13">Communication</label>
                                                    </div>
                                                    <div class="noico inline-block">
                                                        <input type="checkbox" value="" name="mar_cont_event_bl" id="ch04" <%= c["mar_cont_event_bl"] ? ' checked' : '' %>>
                                                        <label for="ch14">Event/RP</label>
                                                    </div>
                                                    <div class="noico inline-block">
                                                        <input type="checkbox" value="" name="mar_cont_digital_bl" id="ch05" <%= c["mar_cont_digital_bl"] ? ' checked' : '' %>>
                                                        <label for="ch15">Digital</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tools">
                            <div class="btnico icoaddbl actaddcontact" title="Ajouter le contact"></div>
                            <div class="btnico icovalidbl actvalidcontact" title="Valider les modifications"></div>
                            <div class="btnico icocancelbl actcancelcontact" title="Annuler les modifications"></div>
                            <div class="btnico icodelbl actdelcontact" title="Supprimer le contact"></div>
                            <div class="btnico icolinkbl" title="Voir le contact">
                                <a href="/contacts/edit/"<%= c["cont_contacts_ident_nm"] %>></a>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="submitmsg"></div>
            </div>
            <% end %>
            <% end %>
        </section>
    </div>
</div>
<!-- Resultats de contacts -->
  </div>
</main>
