<header role="banner" class="page-header-wrapper">
    <div class="site-content header-content">
        <div class="logo">

            <a href="/"><%= image_tag "R9-logo.png" %></a>
        </div>
        <%= render 'recherche/form' %>
        <div class="menu">
          <% if current_user %>
            Signed in as <a href="/contacts/edit/<%= current_contact ? current_contact.cont_contacts_ident_nm : '' %>"><strong><%= current_user.name %></strong></a>!
            <%= link_to "Sign out", signout_path, id: "sign_out" %>
            <% else %>
            <div class="btnico icoprofil">
            <%= link_to "", "/auth/google_oauth2", id: "sign_in" %>
            </div>
            <% end %>
            <!-- <div class="btnico icoprofil"><a href="profil.html"></a></div> -->
        </div>
    </div>
</header>
