<header role="banner" class="page-header-wrapper">
    <div class="site-content header-content">
        <div class="logo">

            <a href="/"><%= image_tag "R9-logo.png" %></a>
        </div>
        <div class="rechercherform">
          <%= form_tag('/recherche', method: :post, class: 'searchform') do %>
              <div class="rechercher">
                  <div class="fieldholder">
                    <%= text_field_tag(:query, params[:query], id: "searchfield", class: 'searchfield', placeholder: 'Rechercher une marque.....') %>
                  </div>
                  <div class="btnico icorecherche fieldholder actsearch"></div>
              </div>
          <% end %>
        </div>
        <div class="menu">
          <% if current_user %>
            Signed in as <strong><%= current_user.name %></strong>!
            <%= link_to "Sign out", signout_path, id: "sign_out" %>
            <% else %>
            <div class="btnico icoprofil">
            <%= link_to "", "/auth/google_oauth2", id: "sign_in" %>
            </div>
            <% end %>
            <!-- <div class="btnico icoprofil"><a href="profil.html"></a></div> -->
        </div>
    </div>
</header>
